USE [master]
GO
/****** Object:  Database [ApartmentManagement]    Script Date: 04/09/2026 4:36:48 SA ******/
CREATE DATABASE [ApartmentManagement]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'ApartmentManagement', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\ApartmentManagement.mdf' , SIZE = 73728KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'ApartmentManagement_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\ApartmentManagement_log.ldf' , SIZE = 73728KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [ApartmentManagement].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [ApartmentManagement]
GO
/****** Object:  Table [dbo].[Apartment]    Script Date: 04/09/2026 4:36:48 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Apartment](
	[ApartmentID] [int] IDENTITY(1,1) NOT NULL,
	[FloorID] [int] NOT NULL,
	[ApartmentCode] [varchar](20) NOT NULL,
	[Area] [decimal](10, 2) NULL,
	[StatusID] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ApartmentID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ApartmentArea]    Script Date: 04/09/2026 4:36:48 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ApartmentArea](
	[AreaID] [int] IDENTITY(1,1) NOT NULL,
	[AreaName] [nvarchar](100) NOT NULL,
	[Address] [nvarchar](255) NULL,
	[Description] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[AreaID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ApartmentPriceHistory]    Script Date: 04/09/2026 4:36:48 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ApartmentPriceHistory](
	[PriceHistoryID] [int] IDENTITY(1,1) NOT NULL,
	[ApartmentID] [int] NOT NULL,
	[BaseRentalPrice] [decimal](18, 2) NOT NULL,
	[EffectiveDate] [date] NOT NULL,
	[Note] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[PriceHistoryID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AuditLog]    Script Date: 04/09/2026 4:36:48 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AuditLog](
	[LogID] [bigint] IDENTITY(1,1) NOT NULL,
	[UserID] [int] NULL,
	[Action] [varchar](50) NOT NULL,
	[TableName] [varchar](100) NOT NULL,
	[RecordID] [int] NOT NULL,
	[OldValue] [nvarchar](max) NULL,
	[NewValue] [nvarchar](max) NULL,
	[Timestamp] [datetime] NULL,
	[IPAddress] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[LogID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Building]    Script Date: 04/09/2026 4:36:48 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Building](
	[BuildingID] [int] IDENTITY(1,1) NOT NULL,
	[AreaID] [int] NOT NULL,
	[BuildingName] [nvarchar](100) NOT NULL,
	[NumberOfFloors] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[BuildingID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Contract]    Script Date: 04/09/2026 4:36:48 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Contract](
	[ContractID] [int] IDENTITY(1,1) NOT NULL,
	[ApartmentID] [int] NOT NULL,
	[OwnerID] [int] NOT NULL,
	[ContractNumber] [varchar](50) NOT NULL,
	[SignDate] [date] NOT NULL,
	[StartDate] [date] NOT NULL,
	[EndDate] [date] NOT NULL,
	[Deposit] [decimal](18, 2) NULL,
	[Rent] [decimal](18, 2) NOT NULL,
	[StatusID] [int] NOT NULL,
	[CreatedDate] [datetime] NULL,
	[ContractTermMonths] [int] NULL,
	[DepositMonths] [int] NULL,
	[PaymentCycleMonths] [int] NOT NULL,
	[MonthlyBillingDay] [int] NOT NULL,
	[SignedContractImage] [nvarchar](500) NULL,
PRIMARY KEY CLUSTERED 
(
	[ContractID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ContractResident]    Script Date: 04/09/2026 4:36:48 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ContractResident](
	[ContractResidentID] [int] IDENTITY(1,1) NOT NULL,
	[ContractID] [int] NOT NULL,
	[ResidentID] [int] NOT NULL,
	[Relationship] [nvarchar](50) NULL,
	[MoveInDate] [date] NULL,
	[MoveOutDate] [date] NULL,
PRIMARY KEY CLUSTERED 
(
	[ContractResidentID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ContractStatus]    Script Date: 04/09/2026 4:36:48 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ContractStatus](
	[StatusID] [int] IDENTITY(1,1) NOT NULL,
	[StatusName] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[StatusID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Employee]    Script Date: 04/09/2026 4:36:48 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Employee](
	[EmployeeID] [int] IDENTITY(1,1) NOT NULL,
	[UserID] [int] NULL,
	[FullName] [nvarchar](100) NOT NULL,
	[Gender] [bit] NULL,
	[BirthDate] [date] NULL,
	[Phone] [varchar](20) NULL,
	[Email] [varchar](100) NULL,
	[Address] [nvarchar](255) NULL,
	[CCCD] [varchar](20) NULL,
	[HireDate] [date] NULL,
	[Status] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[EmployeeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Feedback]    Script Date: 04/09/2026 4:36:48 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Feedback](
	[FeedbackID] [int] IDENTITY(1,1) NOT NULL,
	[ResidentID] [int] NOT NULL,
	[Title] [nvarchar](200) NOT NULL,
	[Content] [nvarchar](max) NOT NULL,
	[Rating] [int] NULL,
	[Reply] [nvarchar](max) NULL,
	[CreatedDate] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[FeedbackID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Floor]    Script Date: 04/09/2026 4:36:48 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Floor](
	[FloorID] [int] IDENTITY(1,1) NOT NULL,
	[BuildingID] [int] NOT NULL,
	[FloorNumber] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[FloorID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Invoice]    Script Date: 04/09/2026 4:36:48 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Invoice](
	[InvoiceID] [int] IDENTITY(1,1) NOT NULL,
	[ContractID] [int] NOT NULL,
	[InvoiceMonth] [int] NOT NULL,
	[InvoiceYear] [int] NOT NULL,
	[InvoiceDate] [date] NULL,
	[DueDate] [date] NULL,
	[TotalAmount] [decimal](18, 2) NULL,
	[StatusID] [int] NOT NULL,
	[WorkflowStatus] [varchar](30) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[InvoiceID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[InvoiceDetail]    Script Date: 04/09/2026 4:36:48 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[InvoiceDetail](
	[InvoiceDetailID] [int] IDENTITY(1,1) NOT NULL,
	[InvoiceID] [int] NOT NULL,
	[ChargeType] [varchar](50) NOT NULL,
	[Description] [nvarchar](255) NOT NULL,
	[Quantity] [decimal](18, 2) NULL,
	[UnitPrice] [decimal](18, 2) NOT NULL,
	[Amount] [decimal](18, 2) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[InvoiceDetailID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[InvoiceStatus]    Script Date: 04/09/2026 4:36:48 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[InvoiceStatus](
	[StatusID] [int] IDENTITY(1,1) NOT NULL,
	[StatusName] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[StatusID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MaintenanceRequest]    Script Date: 04/09/2026 4:36:48 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MaintenanceRequest](
	[RequestID] [int] IDENTITY(1,1) NOT NULL,
	[ResidentID] [int] NOT NULL,
	[ApartmentID] [int] NOT NULL,
	[Title] [nvarchar](200) NOT NULL,
	[Description] [nvarchar](max) NULL,
	[RequestDate] [datetime] NULL,
	[AssignedEmployeeID] [int] NULL,
	[StatusID] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[RequestID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MaintenanceStatus]    Script Date: 04/09/2026 4:36:48 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MaintenanceStatus](
	[StatusID] [int] IDENTITY(1,1) NOT NULL,
	[StatusName] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[StatusID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MeterReading]    Script Date: 04/09/2026 4:36:48 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MeterReading](
	[ReadingID] [int] IDENTITY(1,1) NOT NULL,
	[ApartmentID] [int] NOT NULL,
	[EmployeeID] [int] NULL,
	[UtilityTypeID] [int] NOT NULL,
	[ReadingMonth] [int] NOT NULL,
	[ReadingYear] [int] NOT NULL,
	[OldIndex] [decimal](18, 2) NOT NULL,
	[NewIndex] [decimal](18, 2) NOT NULL,
	[ReadingDate] [date] NULL,
PRIMARY KEY CLUSTERED 
(
	[ReadingID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Module]    Script Date: 04/09/2026 4:36:48 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Module](
	[ModuleID] [int] IDENTITY(1,1) NOT NULL,
	[ModuleCode] [varchar](50) NOT NULL,
	[ModuleName] [nvarchar](100) NOT NULL,
	[Icon] [varchar](100) NULL,
	[SortOrder] [int] NULL,
	[Status] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[ModuleID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Notification]    Script Date: 04/09/2026 4:36:48 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Notification](
	[NotificationID] [int] IDENTITY(1,1) NOT NULL,
	[SenderID] [int] NULL,
	[Title] [nvarchar](200) NOT NULL,
	[Content] [nvarchar](max) NOT NULL,
	[CreatedDate] [datetime] NULL,
	[TargetScope] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[NotificationID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NotificationReceiver]    Script Date: 04/09/2026 4:36:48 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NotificationReceiver](
	[ReceiverID] [int] IDENTITY(1,1) NOT NULL,
	[NotificationID] [int] NOT NULL,
	[UserID] [int] NOT NULL,
	[IsRead] [bit] NULL,
	[ReadDate] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[ReceiverID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ParkingCard]    Script Date: 04/09/2026 4:36:48 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ParkingCard](
	[CardID] [int] IDENTITY(1,1) NOT NULL,
	[VehicleID] [int] NOT NULL,
	[CardCode] [varchar](50) NOT NULL,
	[SlotID] [int] NULL,
	[IssueDate] [date] NULL,
	[ExpiredDate] [date] NULL,
	[Status] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[CardID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ParkingSlot]    Script Date: 04/09/2026 4:36:48 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ParkingSlot](
	[SlotID] [int] IDENTITY(1,1) NOT NULL,
	[AreaID] [int] NOT NULL,
	[SlotNumber] [varchar](20) NOT NULL,
	[VehicleTypeID] [int] NOT NULL,
	[IsOccupied] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[SlotID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Payment]    Script Date: 04/09/2026 4:36:48 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Payment](
	[PaymentID] [int] IDENTITY(1,1) NOT NULL,
	[InvoiceID] [int] NOT NULL,
	[MethodID] [int] NOT NULL,
	[PaymentDate] [datetime] NULL,
	[Amount] [decimal](18, 2) NOT NULL,
	[TransactionCode] [varchar](100) NULL,
	[StatusID] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[PaymentID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PaymentMethod]    Script Date: 04/09/2026 4:36:48 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PaymentMethod](
	[MethodID] [int] IDENTITY(1,1) NOT NULL,
	[MethodName] [nvarchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MethodID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PaymentStatus]    Script Date: 04/09/2026 4:36:48 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PaymentStatus](
	[StatusID] [int] IDENTITY(1,1) NOT NULL,
	[StatusName] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[StatusID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Permission]    Script Date: 04/09/2026 4:36:48 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Permission](
	[PermissionID] [int] IDENTITY(1,1) NOT NULL,
	[ModuleID] [int] NOT NULL,
	[PermissionCode] [varchar](100) NOT NULL,
	[PermissionName] [nvarchar](150) NOT NULL,
	[Description] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[PermissionID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Resident]    Script Date: 04/09/2026 4:36:48 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Resident](
	[ResidentID] [int] IDENTITY(1,1) NOT NULL,
	[UserID] [int] NULL,
	[FullName] [nvarchar](100) NOT NULL,
	[Gender] [bit] NULL,
	[BirthDate] [date] NULL,
	[Phone] [varchar](20) NULL,
	[Email] [varchar](100) NULL,
	[Address] [nvarchar](255) NULL,
	[Avatar] [nvarchar](255) NULL,
	[Status] [bit] NULL,
	[EmergencyContactName] [nvarchar](100) NULL,
	[EmergencyContactPhone] [varchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[ResidentID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ResidentIdentity]    Script Date: 04/09/2026 4:36:48 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ResidentIdentity](
	[IdentityID] [int] IDENTITY(1,1) NOT NULL,
	[ResidentID] [int] NOT NULL,
	[IdentityNumber] [varchar](20) NOT NULL,
	[FrontImage] [nvarchar](255) NULL,
	[BackImage] [nvarchar](255) NULL,
	[IssueDate] [date] NULL,
	[IssuePlace] [nvarchar](100) NULL,
	[ExpiredDate] [date] NULL,
PRIMARY KEY CLUSTERED 
(
	[IdentityID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Role]    Script Date: 04/09/2026 4:36:48 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Role](
	[RoleID] [int] IDENTITY(1,1) NOT NULL,
	[RoleCode] [varchar](50) NOT NULL,
	[RoleName] [nvarchar](100) NOT NULL,
	[Description] [nvarchar](255) NULL,
	[Status] [bit] NOT NULL,
	[CreatedAt] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[RoleID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RolePermission]    Script Date: 04/09/2026 4:36:48 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RolePermission](
	[RolePermissionID] [int] IDENTITY(1,1) NOT NULL,
	[RoleID] [int] NOT NULL,
	[PermissionID] [int] NOT NULL,
	[IsGranted] [bit] NULL,
	[CreatedAt] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[RolePermissionID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RoomStatus]    Script Date: 04/09/2026 4:36:48 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RoomStatus](
	[StatusID] [int] IDENTITY(1,1) NOT NULL,
	[StatusName] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[StatusID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Service]    Script Date: 04/09/2026 4:36:48 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Service](
	[ServiceID] [int] IDENTITY(1,1) NOT NULL,
	[CategoryID] [int] NOT NULL,
	[ServiceName] [nvarchar](100) NOT NULL,
	[Unit] [nvarchar](50) NULL,
	[Price] [decimal](18, 2) NULL,
	[Status] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[ServiceID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ServiceCategory]    Script Date: 04/09/2026 4:36:48 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ServiceCategory](
	[CategoryID] [int] IDENTITY(1,1) NOT NULL,
	[CategoryName] [nvarchar](100) NOT NULL,
	[Description] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[CategoryID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ServiceRegistration]    Script Date: 04/09/2026 4:36:48 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ServiceRegistration](
	[RegistrationID] [int] IDENTITY(1,1) NOT NULL,
	[ContractID] [int] NOT NULL,
	[ServiceID] [int] NOT NULL,
	[RegisterDate] [date] NULL,
	[EndDate] [date] NULL,
	[Quantity] [int] NULL,
	[Status] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[RegistrationID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SmartMeter]    Script Date: 04/09/2026 4:36:48 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SmartMeter](
	[MeterID] [int] IDENTITY(1,1) NOT NULL,
	[ApartmentID] [int] NOT NULL,
	[UtilityTypeID] [int] NOT NULL,
	[CurrentIndex] [decimal](18, 3) NOT NULL,
	[LastTickAt] [datetime2](7) NULL,
	[Status] [bit] NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MeterID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SmartMeterLog]    Script Date: 04/09/2026 4:36:48 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SmartMeterLog](
	[LogID] [bigint] IDENTITY(1,1) NOT NULL,
	[MeterID] [int] NOT NULL,
	[OldIndex] [decimal](18, 3) NOT NULL,
	[NewIndex] [decimal](18, 3) NOT NULL,
	[DeltaValue] [decimal](18, 3) NOT NULL,
	[Source] [varchar](20) NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[LogID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UserRole]    Script Date: 04/09/2026 4:36:48 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserRole](
	[UserRoleID] [int] IDENTITY(1,1) NOT NULL,
	[UserID] [int] NOT NULL,
	[RoleID] [int] NOT NULL,
	[AssignedDate] [datetime] NULL,
	[AssignedBy] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[UserRoleID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 04/09/2026 4:36:48 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[UserID] [int] IDENTITY(1,1) NOT NULL,
	[Username] [varchar](50) NOT NULL,
	[PasswordHash] [varchar](255) NOT NULL,
	[Email] [varchar](100) NULL,
	[Phone] [varchar](20) NULL,
	[Status] [bit] NULL,
	[LastLogin] [datetime] NULL,
	[CreatedAt] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[UserID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UtilityPriceTier]    Script Date: 04/09/2026 4:36:48 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UtilityPriceTier](
	[PriceTierID] [int] IDENTITY(1,1) NOT NULL,
	[UtilityTypeID] [int] NOT NULL,
	[TierName] [nvarchar](50) NULL,
	[FromValue] [decimal](18, 2) NOT NULL,
	[ToValue] [decimal](18, 2) NULL,
	[UnitPrice] [decimal](18, 2) NOT NULL,
	[EffectiveDate] [date] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[PriceTierID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UtilityType]    Script Date: 04/09/2026 4:36:48 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UtilityType](
	[UtilityTypeID] [int] IDENTITY(1,1) NOT NULL,
	[UtilityName] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[UtilityTypeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Vehicle]    Script Date: 04/09/2026 4:36:48 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Vehicle](
	[VehicleID] [int] IDENTITY(1,1) NOT NULL,
	[ResidentID] [int] NOT NULL,
	[PlateNumber] [varchar](20) NOT NULL,
	[VehicleTypeID] [int] NOT NULL,
	[Brand] [nvarchar](100) NULL,
	[Color] [nvarchar](50) NULL,
	[RegisterDate] [date] NULL,
	[Status] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[VehicleID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[VehicleType]    Script Date: 04/09/2026 4:36:48 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VehicleType](
	[VehicleTypeID] [int] IDENTITY(1,1) NOT NULL,
	[TypeName] [nvarchar](50) NOT NULL,
	[MonthlyFee] [decimal](18, 2) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[VehicleTypeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Apartment] ON 

INSERT [dbo].[Apartment] ([ApartmentID], [FloorID], [ApartmentCode], [Area], [StatusID]) VALUES (16, 15, N'Tòa A-T1-P1', CAST(30.00 AS Decimal(10, 2)), 1)
INSERT [dbo].[Apartment] ([ApartmentID], [FloorID], [ApartmentCode], [Area], [StatusID]) VALUES (17, 15, N'Tòa A-T1-P2', CAST(30.00 AS Decimal(10, 2)), 1)
INSERT [dbo].[Apartment] ([ApartmentID], [FloorID], [ApartmentCode], [Area], [StatusID]) VALUES (18, 15, N'Tòa A-T1-P3', CAST(30.00 AS Decimal(10, 2)), 1)
SET IDENTITY_INSERT [dbo].[Apartment] OFF
GO
SET IDENTITY_INSERT [dbo].[ApartmentArea] ON 

INSERT [dbo].[ApartmentArea] ([AreaID], [AreaName], [Address], [Description]) VALUES (1, N'Đức Vũ Tower - Khu A', N'Đường Mai Chí Thọ, Quận 2, TP. Thủ Đức', N'Khu căn hộ cao cấp Block A')
INSERT [dbo].[ApartmentArea] ([AreaID], [AreaName], [Address], [Description]) VALUES (4, N'Khu A', N'123 Đường A', N'Khu chung cư A')
INSERT [dbo].[ApartmentArea] ([AreaID], [AreaName], [Address], [Description]) VALUES (5, N'Khu B', N'456 Đường B', N'Khu chung cư B')
SET IDENTITY_INSERT [dbo].[ApartmentArea] OFF
GO
SET IDENTITY_INSERT [dbo].[AuditLog] ON 

INSERT [dbo].[AuditLog] ([LogID], [UserID], [Action], [TableName], [RecordID], [OldValue], [NewValue], [Timestamp], [IPAddress]) VALUES (1, 1, N'INSERT', N'Resident', 531, NULL, NULL, CAST(N'2026-09-03T23:29:45.733' AS DateTime), N'::1')
INSERT [dbo].[AuditLog] ([LogID], [UserID], [Action], [TableName], [RecordID], [OldValue], [NewValue], [Timestamp], [IPAddress]) VALUES (2, 1, N'INSERT', N'Resident', 532, NULL, NULL, CAST(N'2026-09-03T23:55:32.477' AS DateTime), N'::1')
SET IDENTITY_INSERT [dbo].[AuditLog] OFF
GO
SET IDENTITY_INSERT [dbo].[Building] ON 

INSERT [dbo].[Building] ([BuildingID], [AreaID], [BuildingName], [NumberOfFloors]) VALUES (13, 1, N'Tòa A', 5)
INSERT [dbo].[Building] ([BuildingID], [AreaID], [BuildingName], [NumberOfFloors]) VALUES (14, 1, N'Tòa B', 5)
INSERT [dbo].[Building] ([BuildingID], [AreaID], [BuildingName], [NumberOfFloors]) VALUES (15, 1, N'Tòa C', 5)
SET IDENTITY_INSERT [dbo].[Building] OFF
GO
SET IDENTITY_INSERT [dbo].[Contract] ON 

INSERT [dbo].[Contract] ([ContractID], [ApartmentID], [OwnerID], [ContractNumber], [SignDate], [StartDate], [EndDate], [Deposit], [Rent], [StatusID], [CreatedDate], [ContractTermMonths], [DepositMonths], [PaymentCycleMonths], [MonthlyBillingDay], [SignedContractImage]) VALUES (153, 37, 531, N'HD-Tòa A-T5-P2-20260903', CAST(N'2026-09-03' AS Date), CAST(N'2026-09-03' AS Date), CAST(N'2026-10-03' AS Date), CAST(7500000.00 AS Decimal(18, 2)), CAST(7500000.00 AS Decimal(18, 2)), 4, CAST(N'2026-09-04T01:22:40.660' AS DateTime), NULL, 1, 1, 10, NULL)
INSERT [dbo].[Contract] ([ContractID], [ApartmentID], [OwnerID], [ContractNumber], [SignDate], [StartDate], [EndDate], [Deposit], [Rent], [StatusID], [CreatedDate], [ContractTermMonths], [DepositMonths], [PaymentCycleMonths], [MonthlyBillingDay], [SignedContractImage]) VALUES (154, 38, 532, N'HD-Tòa A-T5-P3-20260903', CAST(N'2026-09-03' AS Date), CAST(N'2026-09-03' AS Date), CAST(N'2026-12-02' AS Date), CAST(15000000.00 AS Decimal(18, 2)), CAST(7500000.00 AS Decimal(18, 2)), 4, CAST(N'2026-09-04T01:23:52.337' AS DateTime), 3, 2, 1, 10, NULL)
SET IDENTITY_INSERT [dbo].[Contract] OFF
GO
SET IDENTITY_INSERT [dbo].[ContractResident] ON 

INSERT [dbo].[ContractResident] ([ContractResidentID], [ContractID], [ResidentID], [Relationship], [MoveInDate], [MoveOutDate]) VALUES (514, 152, 532, N'Chủ hộ', CAST(N'2026-09-03' AS Date), NULL)
INSERT [dbo].[ContractResident] ([ContractResidentID], [ContractID], [ResidentID], [Relationship], [MoveInDate], [MoveOutDate]) VALUES (515, 152, 531, N'Người ở', CAST(N'2026-09-03' AS Date), NULL)
INSERT [dbo].[ContractResident] ([ContractResidentID], [ContractID], [ResidentID], [Relationship], [MoveInDate], [MoveOutDate]) VALUES (516, 153, 531, N'Chủ hộ', CAST(N'2026-09-03' AS Date), CAST(N'2026-09-04' AS Date))
SET IDENTITY_INSERT [dbo].[ContractResident] OFF
GO
SET IDENTITY_INSERT [dbo].[ContractStatus] ON 

INSERT [dbo].[ContractStatus] ([StatusID], [StatusName]) VALUES (8, N'Chưa ký')
INSERT [dbo].[ContractStatus] ([StatusID], [StatusName]) VALUES (6, N'Đã hết hạn')
INSERT [dbo].[ContractStatus] ([StatusID], [StatusName]) VALUES (4, N'Đã thanh lý')
SET IDENTITY_INSERT [dbo].[ContractStatus] OFF
GO
SET IDENTITY_INSERT [dbo].[Employee] ON 

INSERT [dbo].[Employee] ([EmployeeID], [UserID], [FullName], [Gender], [BirthDate], [Phone], [Email], [Address], [CCCD], [HireDate], [Status]) VALUES (1, 1, N'Trần Đức Vũ', 1, CAST(N'1985-05-20' AS Date), N'0911111111', N'admin@anbinh.vn', N'Quận 1, TP. HCM', N'012345678901', CAST(N'2020-01-15' AS Date), 1)
SET IDENTITY_INSERT [dbo].[Employee] OFF
GO
SET IDENTITY_INSERT [dbo].[Floor] ON 

INSERT [dbo].[Floor] ([FloorID], [BuildingID], [FloorNumber]) VALUES (15, 13, 1)
INSERT [dbo].[Floor] ([FloorID], [BuildingID], [FloorNumber]) VALUES (16, 13, 2)
INSERT [dbo].[Floor] ([FloorID], [BuildingID], [FloorNumber]) VALUES (17, 13, 3)
SET IDENTITY_INSERT [dbo].[Floor] OFF
GO
SET IDENTITY_INSERT [dbo].[Invoice] ON 

INSERT [dbo].[Invoice] ([InvoiceID], [ContractID], [InvoiceMonth], [InvoiceYear], [InvoiceDate], [DueDate], [TotalAmount], [StatusID], [WorkflowStatus]) VALUES (13, 152, 9, 2026, CAST(N'2026-09-03' AS Date), CAST(N'2026-09-09' AS Date), CAST(8612270.00 AS Decimal(18, 2)), 2, N'PAID')
INSERT [dbo].[Invoice] ([InvoiceID], [ContractID], [InvoiceMonth], [InvoiceYear], [InvoiceDate], [DueDate], [TotalAmount], [StatusID], [WorkflowStatus]) VALUES (20, 159, 9, 2026, CAST(N'2026-09-03' AS Date), CAST(N'2026-09-09' AS Date), CAST(7750000.00 AS Decimal(18, 2)), 1, N'DRAFT')
SET IDENTITY_INSERT [dbo].[Invoice] OFF
GO
SET IDENTITY_INSERT [dbo].[InvoiceDetail] ON 

INSERT [dbo].[InvoiceDetail] ([InvoiceDetailID], [InvoiceID], [ChargeType], [Description], [Quantity], [UnitPrice], [Amount]) VALUES (38, 13, N'ROOM', N'Tiền thuê căn hộ Tòa A-T5-P1 tháng 9/2026', CAST(1.00 AS Decimal(18, 2)), CAST(7500000.00 AS Decimal(18, 2)), CAST(7500000.00 AS Decimal(18, 2)))
INSERT [dbo].[InvoiceDetail] ([InvoiceDetailID], [InvoiceID], [ChargeType], [Description], [Quantity], [UnitPrice], [Amount]) VALUES (39, 13, N'ELECTRIC', N'Tiền điện: (75 - 0) x đơn giá bậc thang = 150.450 VND', CAST(75.00 AS Decimal(18, 2)), CAST(2006.00 AS Decimal(18, 2)), CAST(150450.00 AS Decimal(18, 2)))
INSERT [dbo].[InvoiceDetail] ([InvoiceDetailID], [InvoiceID], [ChargeType], [Description], [Quantity], [UnitPrice], [Amount]) VALUES (40, 13, N'WATER', N'Tiền nước: (55 - 0) x đơn giá bậc thang = 961.820 VND', CAST(55.00 AS Decimal(18, 2)), CAST(17488.00 AS Decimal(18, 2)), CAST(961820.00 AS Decimal(18, 2)))
SET IDENTITY_INSERT [dbo].[InvoiceDetail] OFF
GO
SET IDENTITY_INSERT [dbo].[InvoiceStatus] ON 

INSERT [dbo].[InvoiceStatus] ([StatusID], [StatusName]) VALUES (1, N'Chưa thanh toán')
INSERT [dbo].[InvoiceStatus] ([StatusID], [StatusName]) VALUES (4, N'Đã hủy')
INSERT [dbo].[InvoiceStatus] ([StatusID], [StatusName]) VALUES (2, N'Đã thanh toán')
SET IDENTITY_INSERT [dbo].[InvoiceStatus] OFF
GO
SET IDENTITY_INSERT [dbo].[MaintenanceStatus] ON 

INSERT [dbo].[MaintenanceStatus] ([StatusID], [StatusName]) VALUES (4, N'Đã hủy')
INSERT [dbo].[MaintenanceStatus] ([StatusID], [StatusName]) VALUES (2, N'Đang xử lý')
INSERT [dbo].[MaintenanceStatus] ([StatusID], [StatusName]) VALUES (3, N'Hoàn tất')
SET IDENTITY_INSERT [dbo].[MaintenanceStatus] OFF
GO
SET IDENTITY_INSERT [dbo].[MeterReading] ON 

INSERT [dbo].[MeterReading] ([ReadingID], [ApartmentID], [EmployeeID], [UtilityTypeID], [ReadingMonth], [ReadingYear], [OldIndex], [NewIndex], [ReadingDate]) VALUES (23, 36, NULL, 3, 9, 2026, CAST(0.00 AS Decimal(18, 2)), CAST(75.00 AS Decimal(18, 2)), CAST(N'2026-09-04' AS Date))
INSERT [dbo].[MeterReading] ([ReadingID], [ApartmentID], [EmployeeID], [UtilityTypeID], [ReadingMonth], [ReadingYear], [OldIndex], [NewIndex], [ReadingDate]) VALUES (24, 36, NULL, 4, 9, 2026, CAST(0.00 AS Decimal(18, 2)), CAST(55.00 AS Decimal(18, 2)), CAST(N'2026-09-04' AS Date))
INSERT [dbo].[MeterReading] ([ReadingID], [ApartmentID], [EmployeeID], [UtilityTypeID], [ReadingMonth], [ReadingYear], [OldIndex], [NewIndex], [ReadingDate]) VALUES (25, 37, NULL, 3, 9, 2026, CAST(0.00 AS Decimal(18, 2)), CAST(64.00 AS Decimal(18, 2)), CAST(N'2026-09-04' AS Date))
SET IDENTITY_INSERT [dbo].[MeterReading] OFF
GO
SET IDENTITY_INSERT [dbo].[Module] ON 

INSERT [dbo].[Module] ([ModuleID], [ModuleCode], [ModuleName], [Icon], [SortOrder], [Status]) VALUES (1, N'DASHBOARD', N'Tổng quan', NULL, 1, 1)
INSERT [dbo].[Module] ([ModuleID], [ModuleCode], [ModuleName], [Icon], [SortOrder], [Status]) VALUES (2, N'RESIDENT', N'Quản lý cư dân', NULL, 2, 1)
INSERT [dbo].[Module] ([ModuleID], [ModuleCode], [ModuleName], [Icon], [SortOrder], [Status]) VALUES (3, N'APARTMENT', N'Quản lý căn hộ', NULL, 3, 1)
SET IDENTITY_INSERT [dbo].[Module] OFF
GO
SET IDENTITY_INSERT [dbo].[Payment] ON 

INSERT [dbo].[Payment] ([PaymentID], [InvoiceID], [MethodID], [PaymentDate], [Amount], [TransactionCode], [StatusID]) VALUES (7, 13, 1, CAST(N'2026-09-04T01:21:36.640' AS DateTime), CAST(8612270.00 AS Decimal(18, 2)), N'AUTO-PAY-1788459696640', 2)
SET IDENTITY_INSERT [dbo].[Payment] OFF
GO
SET IDENTITY_INSERT [dbo].[PaymentMethod] ON 

INSERT [dbo].[PaymentMethod] ([MethodID], [MethodName]) VALUES (1, N'Chuyển khoản Ngân hàng (VietQR)')
INSERT [dbo].[PaymentMethod] ([MethodID], [MethodName]) VALUES (3, N'Tiền mặt trực tiếp')
INSERT [dbo].[PaymentMethod] ([MethodID], [MethodName]) VALUES (2, N'Ví điện tử (Momo/ZaloPay)')
SET IDENTITY_INSERT [dbo].[PaymentMethod] OFF
GO
SET IDENTITY_INSERT [dbo].[PaymentStatus] ON 

INSERT [dbo].[PaymentStatus] ([StatusID], [StatusName]) VALUES (1, N'Chờ xử lý')
INSERT [dbo].[PaymentStatus] ([StatusID], [StatusName]) VALUES (2, N'Thành công')
INSERT [dbo].[PaymentStatus] ([StatusID], [StatusName]) VALUES (3, N'Thất bại')
SET IDENTITY_INSERT [dbo].[PaymentStatus] OFF
GO
SET IDENTITY_INSERT [dbo].[Permission] ON 

INSERT [dbo].[Permission] ([PermissionID], [ModuleID], [PermissionCode], [PermissionName], [Description]) VALUES (1, 1, N'DASHBOARD_VIEW', N'Xem Dashboard', NULL)
INSERT [dbo].[Permission] ([PermissionID], [ModuleID], [PermissionCode], [PermissionName], [Description]) VALUES (2, 2, N'RESIDENT_VIEW', N'Xem cư dân', NULL)
INSERT [dbo].[Permission] ([PermissionID], [ModuleID], [PermissionCode], [PermissionName], [Description]) VALUES (3, 2, N'RESIDENT_CREATE', N'Thêm cư dân', NULL)
SET IDENTITY_INSERT [dbo].[Permission] OFF
GO
SET IDENTITY_INSERT [dbo].[Resident] ON 

INSERT [dbo].[Resident] ([ResidentID], [UserID], [FullName], [Gender], [BirthDate], [Phone], [Email], [Address], [Avatar], [Status], [EmergencyContactName], [EmergencyContactPhone]) VALUES (531, NULL, N'alo', 1, CAST(N'1997-06-06' AS Date), N'0123545750', N'123@gmail.com', N'ok', NULL, 1, N'qư', N'1903002390235235')
INSERT [dbo].[Resident] ([ResidentID], [UserID], [FullName], [Gender], [BirthDate], [Phone], [Email], [Address], [Avatar], [Status], [EmergencyContactName], [EmergencyContactPhone]) VALUES (532, NULL, N'nguyễn ok', 1, CAST(N'2000-05-18' AS Date), N'0123456789', N'ok@gmail.com', N'123', NULL, 1, N'oka', N'012492354')
SET IDENTITY_INSERT [dbo].[Resident] OFF
GO
SET IDENTITY_INSERT [dbo].[ResidentIdentity] ON 

INSERT [dbo].[ResidentIdentity] ([IdentityID], [ResidentID], [IdentityNumber], [FrontImage], [BackImage], [IssueDate], [IssuePlace], [ExpiredDate]) VALUES (262, 531, N'0923423525', NULL, NULL, CAST(N'2026-09-24' AS Date), N'ccs', NULL)
INSERT [dbo].[ResidentIdentity] ([IdentityID], [ResidentID], [IdentityNumber], [FrontImage], [BackImage], [IssueDate], [IssuePlace], [ExpiredDate]) VALUES (263, 532, N'1231342342', NULL, NULL, CAST(N'2009-02-03' AS Date), N'ccs', NULL)
SET IDENTITY_INSERT [dbo].[ResidentIdentity] OFF
GO
SET IDENTITY_INSERT [dbo].[Role] ON 

INSERT [dbo].[Role] ([RoleID], [RoleCode], [RoleName], [Description], [Status], [CreatedAt]) VALUES (1, N'ADMIN', N'Quản trị viên', N'Ban quản lý Đức Vũ Tower', 1, CAST(N'2026-07-22T21:00:55.960' AS DateTime))
INSERT [dbo].[Role] ([RoleID], [RoleCode], [RoleName], [Description], [Status], [CreatedAt]) VALUES (2, N'MANAGER', N'Ban quản lý', N'Quản lý vận hành tòa nhà', 1, CAST(N'2026-07-22T21:00:55.960' AS DateTime))
INSERT [dbo].[Role] ([RoleID], [RoleCode], [RoleName], [Description], [Status], [CreatedAt]) VALUES (3, N'ACCOUNTANT', N'Kế toán', N'Quản lý tài chính, hóa đơn', 1, CAST(N'2026-07-22T21:00:55.960' AS DateTime))
SET IDENTITY_INSERT [dbo].[Role] OFF
GO
SET IDENTITY_INSERT [dbo].[RolePermission] ON 

INSERT [dbo].[RolePermission] ([RolePermissionID], [RoleID], [PermissionID], [IsGranted], [CreatedAt]) VALUES (1, 1, 1, 1, CAST(N'2026-07-22T21:00:55.967' AS DateTime))
INSERT [dbo].[RolePermission] ([RolePermissionID], [RoleID], [PermissionID], [IsGranted], [CreatedAt]) VALUES (2, 1, 2, 1, CAST(N'2026-07-22T21:00:55.967' AS DateTime))
INSERT [dbo].[RolePermission] ([RolePermissionID], [RoleID], [PermissionID], [IsGranted], [CreatedAt]) VALUES (3, 1, 3, 1, CAST(N'2026-07-22T21:00:55.967' AS DateTime))
GO
SET IDENTITY_INSERT [dbo].[RolePermission] OFF
GO
SET IDENTITY_INSERT [dbo].[RoomStatus] ON 

INSERT [dbo].[RoomStatus] ([StatusID], [StatusName]) VALUES (7, N'Bảo trì')
INSERT [dbo].[RoomStatus] ([StatusID], [StatusName]) VALUES (1, N'Còn trống')
INSERT [dbo].[RoomStatus] ([StatusID], [StatusName]) VALUES (3, N'Đang bảo trì')
SET IDENTITY_INSERT [dbo].[RoomStatus] OFF
GO
SET IDENTITY_INSERT [dbo].[Service] ON 

INSERT [dbo].[Service] ([ServiceID], [CategoryID], [ServiceName], [Unit], [Price], [Status]) VALUES (6, 3, N'Phí Gym', N'Tháng', CAST(250000.00 AS Decimal(18, 2)), 1)
INSERT [dbo].[Service] ([ServiceID], [CategoryID], [ServiceName], [Unit], [Price], [Status]) VALUES (7, 3, N'Phí Hồ bơi', N'Tháng', CAST(180000.00 AS Decimal(18, 2)), 1)
INSERT [dbo].[Service] ([ServiceID], [CategoryID], [ServiceName], [Unit], [Price], [Status]) VALUES (8, 3, N'Phí Wifi', N'Tháng', CAST(150000.00 AS Decimal(18, 2)), 1)
SET IDENTITY_INSERT [dbo].[Service] OFF
GO
SET IDENTITY_INSERT [dbo].[ServiceCategory] ON 

INSERT [dbo].[ServiceCategory] ([CategoryID], [CategoryName], [Description]) VALUES (3, N'Dịch vụ hộ/căn hộ', N'Dịch vụ đăng ký theo hộ như Gym, hồ bơi')
SET IDENTITY_INSERT [dbo].[ServiceCategory] OFF
GO
SET IDENTITY_INSERT [dbo].[ServiceRegistration] ON 

INSERT [dbo].[ServiceRegistration] ([RegistrationID], [ContractID], [ServiceID], [RegisterDate], [EndDate], [Quantity], [Status]) VALUES (62, 154, 6, CAST(N'2026-09-04' AS Date), CAST(N'2026-09-04' AS Date), 100, 0)
INSERT [dbo].[ServiceRegistration] ([RegistrationID], [ContractID], [ServiceID], [RegisterDate], [EndDate], [Quantity], [Status]) VALUES (63, 156, 6, CAST(N'2026-09-04' AS Date), CAST(N'2026-09-04' AS Date), 100, 0)
INSERT [dbo].[ServiceRegistration] ([RegistrationID], [ContractID], [ServiceID], [RegisterDate], [EndDate], [Quantity], [Status]) VALUES (64, 156, 7, CAST(N'2026-09-04' AS Date), CAST(N'2026-09-04' AS Date), 50, 0)
SET IDENTITY_INSERT [dbo].[ServiceRegistration] OFF
GO
SET IDENTITY_INSERT [dbo].[UserRole] ON 

INSERT [dbo].[UserRole] ([UserRoleID], [UserID], [RoleID], [AssignedDate], [AssignedBy]) VALUES (1, 1, 1, CAST(N'2026-07-22T21:00:55.963' AS DateTime), NULL)
SET IDENTITY_INSERT [dbo].[UserRole] OFF
GO
SET IDENTITY_INSERT [dbo].[Users] ON 

INSERT [dbo].[Users] ([UserID], [Username], [PasswordHash], [Email], [Phone], [Status], [LastLogin], [CreatedAt]) VALUES (1, N'admin', N'123456', N'admin@anbinh.vn', N'0911111111', 1, CAST(N'2026-09-04T00:15:59.217' AS DateTime), CAST(N'2026-07-22T21:00:55.963' AS DateTime))
SET IDENTITY_INSERT [dbo].[Users] OFF
GO
SET IDENTITY_INSERT [dbo].[UtilityPriceTier] ON 

INSERT [dbo].[UtilityPriceTier] ([PriceTierID], [UtilityTypeID], [TierName], [FromValue], [ToValue], [UnitPrice], [EffectiveDate]) VALUES (25, 3, N'Điện bậc 1: 0-50 kWh', CAST(0.00 AS Decimal(18, 2)), CAST(50.00 AS Decimal(18, 2)), CAST(1984.00 AS Decimal(18, 2)), CAST(N'2025-05-10' AS Date))
INSERT [dbo].[UtilityPriceTier] ([PriceTierID], [UtilityTypeID], [TierName], [FromValue], [ToValue], [UnitPrice], [EffectiveDate]) VALUES (26, 3, N'Điện bậc 2: 51-100 kWh', CAST(50.00 AS Decimal(18, 2)), CAST(100.00 AS Decimal(18, 2)), CAST(2050.00 AS Decimal(18, 2)), CAST(N'2025-05-10' AS Date))
INSERT [dbo].[UtilityPriceTier] ([PriceTierID], [UtilityTypeID], [TierName], [FromValue], [ToValue], [UnitPrice], [EffectiveDate]) VALUES (27, 3, N'Điện bậc 3: 101-200 kWh', CAST(100.00 AS Decimal(18, 2)), CAST(200.00 AS Decimal(18, 2)), CAST(2380.00 AS Decimal(18, 2)), CAST(N'2025-05-10' AS Date))
SET IDENTITY_INSERT [dbo].[UtilityPriceTier] OFF
GO
SET IDENTITY_INSERT [dbo].[UtilityType] ON 

INSERT [dbo].[UtilityType] ([UtilityTypeID], [UtilityName]) VALUES (3, N'Điện sinh hoạt')
INSERT [dbo].[UtilityType] ([UtilityTypeID], [UtilityName]) VALUES (4, N'Nước sinh hoạt')
SET IDENTITY_INSERT [dbo].[UtilityType] OFF
GO
SET IDENTITY_INSERT [dbo].[Vehicle] ON 

INSERT [dbo].[Vehicle] ([VehicleID], [ResidentID], [PlateNumber], [VehicleTypeID], [Brand], [Color], [RegisterDate], [Status]) VALUES (4, 532, N'1241432', 4, NULL, NULL, CAST(N'2026-09-04' AS Date), 1)
INSERT [dbo].[Vehicle] ([VehicleID], [ResidentID], [PlateNumber], [VehicleTypeID], [Brand], [Color], [RegisterDate], [Status]) VALUES (5, 532, N'124334', 4, NULL, NULL, CAST(N'2026-09-04' AS Date), 1)
INSERT [dbo].[Vehicle] ([VehicleID], [ResidentID], [PlateNumber], [VehicleTypeID], [Brand], [Color], [RegisterDate], [Status]) VALUES (6, 532, N'1241324', 5, NULL, NULL, CAST(N'2026-09-04' AS Date), 1)
SET IDENTITY_INSERT [dbo].[Vehicle] OFF
GO
SET IDENTITY_INSERT [dbo].[VehicleType] ON 

INSERT [dbo].[VehicleType] ([VehicleTypeID], [TypeName], [MonthlyFee]) VALUES (4, N'Xe hơi', CAST(300000.00 AS Decimal(18, 2)))
INSERT [dbo].[VehicleType] ([VehicleTypeID], [TypeName], [MonthlyFee]) VALUES (5, N'Xe máy', CAST(150000.00 AS Decimal(18, 2)))
INSERT [dbo].[VehicleType] ([VehicleTypeID], [TypeName], [MonthlyFee]) VALUES (6, N'Xe đạp', CAST(0.00 AS Decimal(18, 2)))
SET IDENTITY_INSERT [dbo].[VehicleType] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Apartmen__C6F22AE6DF14AE6D]    Script Date: 04/09/2026 4:36:48 SA ******/
ALTER TABLE [dbo].[Apartment] ADD UNIQUE NONCLUSTERED 
(
	[ApartmentCode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Apartment_Code]    Script Date: 04/09/2026 4:36:48 SA ******/
CREATE NONCLUSTERED INDEX [IX_Apartment_Code] ON [dbo].[Apartment]
(
	[ApartmentCode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_FK_Apartment_Floor]    Script Date: 04/09/2026 4:36:48 SA ******/
CREATE NONCLUSTERED INDEX [IX_FK_Apartment_Floor] ON [dbo].[Apartment]
(
	[FloorID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Apartmen__8EB6AF570B73394B]    Script Date: 04/09/2026 4:36:48 SA ******/
ALTER TABLE [dbo].[ApartmentArea] ADD UNIQUE NONCLUSTERED 
(
	[AreaName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_FK_ApartmentPrice_Apartment]    Script Date: 04/09/2026 4:36:48 SA ******/
CREATE NONCLUSTERED INDEX [IX_FK_ApartmentPrice_Apartment] ON [dbo].[ApartmentPriceHistory]
(
	[ApartmentID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ_Building_Area]    Script Date: 04/09/2026 4:36:48 SA ******/
ALTER TABLE [dbo].[Building] ADD  CONSTRAINT [UQ_Building_Area] UNIQUE NONCLUSTERED 
(
	[AreaID] ASC,
	[BuildingName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_FK_Building_Area]    Script Date: 04/09/2026 4:36:48 SA ******/
CREATE NONCLUSTERED INDEX [IX_FK_Building_Area] ON [dbo].[Building]
(
	[AreaID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Contract__C51D43DACE7198C4]    Script Date: 04/09/2026 4:36:48 SA ******/
ALTER TABLE [dbo].[Contract] ADD UNIQUE NONCLUSTERED 
(
	[ContractNumber] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Contract_Number]    Script Date: 04/09/2026 4:36:48 SA ******/
CREATE NONCLUSTERED INDEX [IX_Contract_Number] ON [dbo].[Contract]
(
	[ContractNumber] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_FK_Contract_Apartment]    Script Date: 04/09/2026 4:36:48 SA ******/
CREATE NONCLUSTERED INDEX [IX_FK_Contract_Apartment] ON [dbo].[Contract]
(
	[ApartmentID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_FK_Contract_Owner]    Script Date: 04/09/2026 4:36:48 SA ******/
CREATE NONCLUSTERED INDEX [IX_FK_Contract_Owner] ON [dbo].[Contract]
(
	[OwnerID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UQ_Contract_Resident]    Script Date: 04/09/2026 4:36:48 SA ******/
ALTER TABLE [dbo].[ContractResident] ADD  CONSTRAINT [UQ_Contract_Resident] UNIQUE NONCLUSTERED 
(
	[ContractID] ASC,
	[ResidentID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_FK_CR_Contract]    Script Date: 04/09/2026 4:36:48 SA ******/
CREATE NONCLUSTERED INDEX [IX_FK_CR_Contract] ON [dbo].[ContractResident]
(
	[ContractID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_FK_CR_Resident]    Script Date: 04/09/2026 4:36:48 SA ******/
CREATE NONCLUSTERED INDEX [IX_FK_CR_Resident] ON [dbo].[ContractResident]
(
	[ResidentID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Contract__05E7698A61C92DD3]    Script Date: 04/09/2026 4:36:48 SA ******/
ALTER TABLE [dbo].[ContractStatus] ADD UNIQUE NONCLUSTERED 
(
	[StatusName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UQ__Employee__1788CCAD415D632F]    Script Date: 04/09/2026 4:36:48 SA ******/
ALTER TABLE [dbo].[Employee] ADD UNIQUE NONCLUSTERED 
(
	[UserID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Employee__A955A0AA709782BB]    Script Date: 04/09/2026 4:36:48 SA ******/
ALTER TABLE [dbo].[Employee] ADD UNIQUE NONCLUSTERED 
(
	[CCCD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_FK_Employee_User]    Script Date: 04/09/2026 4:36:48 SA ******/
CREATE NONCLUSTERED INDEX [IX_FK_Employee_User] ON [dbo].[Employee]
(
	[UserID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UQ_Floor_Building]    Script Date: 04/09/2026 4:36:48 SA ******/
ALTER TABLE [dbo].[Floor] ADD  CONSTRAINT [UQ_Floor_Building] UNIQUE NONCLUSTERED 
(
	[BuildingID] ASC,
	[FloorNumber] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_FK_Floor_Building]    Script Date: 04/09/2026 4:36:48 SA ******/
CREATE NONCLUSTERED INDEX [IX_FK_Floor_Building] ON [dbo].[Floor]
(
	[BuildingID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UQ_Invoice_Contract_Period]    Script Date: 04/09/2026 4:36:48 SA ******/
ALTER TABLE [dbo].[Invoice] ADD  CONSTRAINT [UQ_Invoice_Contract_Period] UNIQUE NONCLUSTERED 
(
	[ContractID] ASC,
	[InvoiceMonth] ASC,
	[InvoiceYear] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_FK_Invoice_Contract]    Script Date: 04/09/2026 4:36:48 SA ******/
CREATE NONCLUSTERED INDEX [IX_FK_Invoice_Contract] ON [dbo].[Invoice]
(
	[ContractID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Invoice_Period]    Script Date: 04/09/2026 4:36:48 SA ******/
CREATE NONCLUSTERED INDEX [IX_Invoice_Period] ON [dbo].[Invoice]
(
	[InvoiceYear] ASC,
	[InvoiceMonth] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UX_Invoice_Contract_Period]    Script Date: 04/09/2026 4:36:48 SA ******/
CREATE UNIQUE NONCLUSTERED INDEX [UX_Invoice_Contract_Period] ON [dbo].[Invoice]
(
	[ContractID] ASC,
	[InvoiceMonth] ASC,
	[InvoiceYear] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_FK_InvoiceDetail_Invoice]    Script Date: 04/09/2026 4:36:48 SA ******/
CREATE NONCLUSTERED INDEX [IX_FK_InvoiceDetail_Invoice] ON [dbo].[InvoiceDetail]
(
	[InvoiceID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__InvoiceS__05E7698ACB2A7157]    Script Date: 04/09/2026 4:36:48 SA ******/
ALTER TABLE [dbo].[InvoiceStatus] ADD UNIQUE NONCLUSTERED 
(
	[StatusName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_FK_Maintenance_Apartment]    Script Date: 04/09/2026 4:36:48 SA ******/
CREATE NONCLUSTERED INDEX [IX_FK_Maintenance_Apartment] ON [dbo].[MaintenanceRequest]
(
	[ApartmentID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Maintena__05E7698AF250A8FB]    Script Date: 04/09/2026 4:36:48 SA ******/
ALTER TABLE [dbo].[MaintenanceStatus] ADD UNIQUE NONCLUSTERED 
(
	[StatusName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UQ_MeterReading_Period]    Script Date: 04/09/2026 4:36:48 SA ******/
ALTER TABLE [dbo].[MeterReading] ADD  CONSTRAINT [UQ_MeterReading_Period] UNIQUE NONCLUSTERED 
(
	[ApartmentID] ASC,
	[UtilityTypeID] ASC,
	[ReadingMonth] ASC,
	[ReadingYear] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_FK_MR_Apartment]    Script Date: 04/09/2026 4:36:48 SA ******/
CREATE NONCLUSTERED INDEX [IX_FK_MR_Apartment] ON [dbo].[MeterReading]
(
	[ApartmentID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_MeterReading_Period]    Script Date: 04/09/2026 4:36:48 SA ******/
CREATE NONCLUSTERED INDEX [IX_MeterReading_Period] ON [dbo].[MeterReading]
(
	[ReadingYear] ASC,
	[ReadingMonth] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UX_MeterReading_Apartment_Utility_Period]    Script Date: 04/09/2026 4:36:48 SA ******/
CREATE UNIQUE NONCLUSTERED INDEX [UX_MeterReading_Apartment_Utility_Period] ON [dbo].[MeterReading]
(
	[ApartmentID] ASC,
	[UtilityTypeID] ASC,
	[ReadingMonth] ASC,
	[ReadingYear] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Module__EB27D4330438783C]    Script Date: 04/09/2026 4:36:48 SA ******/
ALTER TABLE [dbo].[Module] ADD UNIQUE NONCLUSTERED 
(
	[ModuleCode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UQ_Notification_User]    Script Date: 04/09/2026 4:36:48 SA ******/
ALTER TABLE [dbo].[NotificationReceiver] ADD  CONSTRAINT [UQ_Notification_User] UNIQUE NONCLUSTERED 
(
	[NotificationID] ASC,
	[UserID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_FK_NR_User]    Script Date: 04/09/2026 4:36:48 SA ******/
CREATE NONCLUSTERED INDEX [IX_FK_NR_User] ON [dbo].[NotificationReceiver]
(
	[UserID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__ParkingC__3D531707CD3E3540]    Script Date: 04/09/2026 4:36:48 SA ******/
ALTER TABLE [dbo].[ParkingCard] ADD UNIQUE NONCLUSTERED 
(
	[CardCode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UQ__ParkingC__476B54B35EF0AA58]    Script Date: 04/09/2026 4:36:48 SA ******/
ALTER TABLE [dbo].[ParkingCard] ADD UNIQUE NONCLUSTERED 
(
	[VehicleID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ_Slot_Area]    Script Date: 04/09/2026 4:36:48 SA ******/
ALTER TABLE [dbo].[ParkingSlot] ADD  CONSTRAINT [UQ_Slot_Area] UNIQUE NONCLUSTERED 
(
	[AreaID] ASC,
	[SlotNumber] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_FK_Payment_Invoice]    Script Date: 04/09/2026 4:36:48 SA ******/
CREATE NONCLUSTERED INDEX [IX_FK_Payment_Invoice] ON [dbo].[Payment]
(
	[InvoiceID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__PaymentM__218CFB170BC80EBB]    Script Date: 04/09/2026 4:36:48 SA ******/
ALTER TABLE [dbo].[PaymentMethod] ADD UNIQUE NONCLUSTERED 
(
	[MethodName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__PaymentS__05E7698AF81154AF]    Script Date: 04/09/2026 4:36:48 SA ******/
ALTER TABLE [dbo].[PaymentStatus] ADD UNIQUE NONCLUSTERED 
(
	[StatusName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Permissi__91FE5750ED532256]    Script Date: 04/09/2026 4:36:48 SA ******/
ALTER TABLE [dbo].[Permission] ADD UNIQUE NONCLUSTERED 
(
	[PermissionCode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Permission_Module]    Script Date: 04/09/2026 4:36:48 SA ******/
CREATE NONCLUSTERED INDEX [IX_Permission_Module] ON [dbo].[Permission]
(
	[ModuleID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Resident_FullName]    Script Date: 04/09/2026 4:36:48 SA ******/
CREATE NONCLUSTERED INDEX [IX_Resident_FullName] ON [dbo].[Resident]
(
	[FullName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Resident_Phone]    Script Date: 04/09/2026 4:36:48 SA ******/
CREATE NONCLUSTERED INDEX [IX_Resident_Phone] ON [dbo].[Resident]
(
	[Phone] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UQ_Resident_UserID_NotNull]    Script Date: 04/09/2026 4:36:48 SA ******/
CREATE UNIQUE NONCLUSTERED INDEX [UQ_Resident_UserID_NotNull] ON [dbo].[Resident]
(
	[UserID] ASC
)
WHERE ([UserID] IS NOT NULL)
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UQ__Resident__07FB00FD5DC1A81D]    Script Date: 04/09/2026 4:36:48 SA ******/
ALTER TABLE [dbo].[ResidentIdentity] ADD UNIQUE NONCLUSTERED 
(
	[ResidentID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Resident__6354A73FC9B87FCD]    Script Date: 04/09/2026 4:36:48 SA ******/
ALTER TABLE [dbo].[ResidentIdentity] ADD UNIQUE NONCLUSTERED 
(
	[IdentityNumber] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Role__8A2B61603FDFCCF5]    Script Date: 04/09/2026 4:36:48 SA ******/
ALTER TABLE [dbo].[Role] ADD UNIQUE NONCLUSTERED 
(
	[RoleName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Role__D62CB59C427FE349]    Script Date: 04/09/2026 4:36:48 SA ******/
ALTER TABLE [dbo].[Role] ADD UNIQUE NONCLUSTERED 
(
	[RoleCode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UQ_RolePermission]    Script Date: 04/09/2026 4:36:48 SA ******/
ALTER TABLE [dbo].[RolePermission] ADD  CONSTRAINT [UQ_RolePermission] UNIQUE NONCLUSTERED 
(
	[RoleID] ASC,
	[PermissionID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_RolePermission_Permission]    Script Date: 04/09/2026 4:36:48 SA ******/
CREATE NONCLUSTERED INDEX [IX_RolePermission_Permission] ON [dbo].[RolePermission]
(
	[PermissionID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_RolePermission_Role]    Script Date: 04/09/2026 4:36:48 SA ******/
CREATE NONCLUSTERED INDEX [IX_RolePermission_Role] ON [dbo].[RolePermission]
(
	[RoleID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__RoomStat__05E7698AF05C058B]    Script Date: 04/09/2026 4:36:48 SA ******/
ALTER TABLE [dbo].[RoomStatus] ADD UNIQUE NONCLUSTERED 
(
	[StatusName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Service__A42B5F99BC22F815]    Script Date: 04/09/2026 4:36:48 SA ******/
ALTER TABLE [dbo].[Service] ADD UNIQUE NONCLUSTERED 
(
	[ServiceName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__ServiceC__8517B2E0D79CD338]    Script Date: 04/09/2026 4:36:48 SA ******/
ALTER TABLE [dbo].[ServiceCategory] ADD UNIQUE NONCLUSTERED 
(
	[CategoryName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_FK_SR_Contract]    Script Date: 04/09/2026 4:36:48 SA ******/
CREATE NONCLUSTERED INDEX [IX_FK_SR_Contract] ON [dbo].[ServiceRegistration]
(
	[ContractID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UQ_SmartMeter_Apartment_Utility]    Script Date: 04/09/2026 4:36:48 SA ******/
ALTER TABLE [dbo].[SmartMeter] ADD  CONSTRAINT [UQ_SmartMeter_Apartment_Utility] UNIQUE NONCLUSTERED 
(
	[ApartmentID] ASC,
	[UtilityTypeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_SmartMeter_Apartment]    Script Date: 04/09/2026 4:36:48 SA ******/
CREATE NONCLUSTERED INDEX [IX_SmartMeter_Apartment] ON [dbo].[SmartMeter]
(
	[ApartmentID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_SmartMeterLog_Meter_CreatedAt]    Script Date: 04/09/2026 4:36:48 SA ******/
CREATE NONCLUSTERED INDEX [IX_SmartMeterLog_Meter_CreatedAt] ON [dbo].[SmartMeterLog]
(
	[MeterID] ASC,
	[CreatedAt] DESC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UQ_UserRole]    Script Date: 04/09/2026 4:36:48 SA ******/
ALTER TABLE [dbo].[UserRole] ADD  CONSTRAINT [UQ_UserRole] UNIQUE NONCLUSTERED 
(
	[UserID] ASC,
	[RoleID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_UserRole_Role]    Script Date: 04/09/2026 4:36:48 SA ******/
CREATE NONCLUSTERED INDEX [IX_UserRole_Role] ON [dbo].[UserRole]
(
	[RoleID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_UserRole_User]    Script Date: 04/09/2026 4:36:48 SA ******/
CREATE NONCLUSTERED INDEX [IX_UserRole_User] ON [dbo].[UserRole]
(
	[UserID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Users__536C85E4748DA278]    Script Date: 04/09/2026 4:36:48 SA ******/
ALTER TABLE [dbo].[Users] ADD UNIQUE NONCLUSTERED 
(
	[Username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Users__5C7E359E0DEC9C84]    Script Date: 04/09/2026 4:36:48 SA ******/
ALTER TABLE [dbo].[Users] ADD UNIQUE NONCLUSTERED 
(
	[Phone] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Users__A9D105341DED8868]    Script Date: 04/09/2026 4:36:48 SA ******/
ALTER TABLE [dbo].[Users] ADD UNIQUE NONCLUSTERED 
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Users_Username]    Script Date: 04/09/2026 4:36:48 SA ******/
CREATE NONCLUSTERED INDEX [IX_Users_Username] ON [dbo].[Users]
(
	[Username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__UtilityT__E8B225D636B97E6D]    Script Date: 04/09/2026 4:36:48 SA ******/
ALTER TABLE [dbo].[UtilityType] ADD UNIQUE NONCLUSTERED 
(
	[UtilityName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Vehicle__03692624BE342EE4]    Script Date: 04/09/2026 4:36:48 SA ******/
ALTER TABLE [dbo].[Vehicle] ADD UNIQUE NONCLUSTERED 
(
	[PlateNumber] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_FK_Vehicle_Resident]    Script Date: 04/09/2026 4:36:48 SA ******/
CREATE NONCLUSTERED INDEX [IX_FK_Vehicle_Resident] ON [dbo].[Vehicle]
(
	[ResidentID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__VehicleT__D4E7DFA8558E73DD]    Script Date: 04/09/2026 4:36:48 SA ******/
ALTER TABLE [dbo].[VehicleType] ADD UNIQUE NONCLUSTERED 
(
	[TypeName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[AuditLog] ADD  DEFAULT (getdate()) FOR [Timestamp]
GO
ALTER TABLE [dbo].[Contract] ADD  DEFAULT (getdate()) FOR [SignDate]
GO
ALTER TABLE [dbo].[Contract] ADD  DEFAULT ((0)) FOR [Deposit]
GO
ALTER TABLE [dbo].[Contract] ADD  DEFAULT (getdate()) FOR [CreatedDate]
GO
ALTER TABLE [dbo].[Contract] ADD  CONSTRAINT [DF_Contract_PaymentCycleMonths]  DEFAULT ((1)) FOR [PaymentCycleMonths]
GO
ALTER TABLE [dbo].[Contract] ADD  CONSTRAINT [DF_Contract_MonthlyBillingDay]  DEFAULT ((10)) FOR [MonthlyBillingDay]
GO
ALTER TABLE [dbo].[Employee] ADD  DEFAULT ((1)) FOR [Status]
GO
ALTER TABLE [dbo].[Feedback] ADD  DEFAULT (getdate()) FOR [CreatedDate]
GO
ALTER TABLE [dbo].[Invoice] ADD  DEFAULT (getdate()) FOR [InvoiceDate]
GO
ALTER TABLE [dbo].[Invoice] ADD  DEFAULT ((0)) FOR [TotalAmount]
GO
ALTER TABLE [dbo].[Invoice] ADD  CONSTRAINT [DF_Invoice_WorkflowStatus]  DEFAULT ('WAITING_PAYMENT') FOR [WorkflowStatus]
GO
ALTER TABLE [dbo].[InvoiceDetail] ADD  DEFAULT ((1)) FOR [Quantity]
GO
ALTER TABLE [dbo].[MaintenanceRequest] ADD  DEFAULT (getdate()) FOR [RequestDate]
GO
ALTER TABLE [dbo].[MeterReading] ADD  DEFAULT (getdate()) FOR [ReadingDate]
GO
ALTER TABLE [dbo].[Module] ADD  DEFAULT ((0)) FOR [SortOrder]
GO
ALTER TABLE [dbo].[Module] ADD  DEFAULT ((1)) FOR [Status]
GO
ALTER TABLE [dbo].[Notification] ADD  DEFAULT (getdate()) FOR [CreatedDate]
GO
ALTER TABLE [dbo].[Notification] ADD  DEFAULT ('ALL') FOR [TargetScope]
GO
ALTER TABLE [dbo].[NotificationReceiver] ADD  DEFAULT ((0)) FOR [IsRead]
GO
ALTER TABLE [dbo].[ParkingCard] ADD  DEFAULT (getdate()) FOR [IssueDate]
GO
ALTER TABLE [dbo].[ParkingCard] ADD  DEFAULT ((1)) FOR [Status]
GO
ALTER TABLE [dbo].[ParkingSlot] ADD  DEFAULT ((0)) FOR [IsOccupied]
GO
ALTER TABLE [dbo].[Payment] ADD  DEFAULT (getdate()) FOR [PaymentDate]
GO
ALTER TABLE [dbo].[Resident] ADD  DEFAULT ((1)) FOR [Status]
GO
ALTER TABLE [dbo].[Role] ADD  DEFAULT ((1)) FOR [Status]
GO
ALTER TABLE [dbo].[Role] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[RolePermission] ADD  DEFAULT ((1)) FOR [IsGranted]
GO
ALTER TABLE [dbo].[RolePermission] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Service] ADD  DEFAULT ((1)) FOR [Status]
GO
ALTER TABLE [dbo].[ServiceRegistration] ADD  DEFAULT (getdate()) FOR [RegisterDate]
GO
ALTER TABLE [dbo].[ServiceRegistration] ADD  DEFAULT ((1)) FOR [Quantity]
GO
ALTER TABLE [dbo].[ServiceRegistration] ADD  DEFAULT ((1)) FOR [Status]
GO
ALTER TABLE [dbo].[SmartMeter] ADD  CONSTRAINT [DF_SmartMeter_CurrentIndex]  DEFAULT ((0)) FOR [CurrentIndex]
GO
ALTER TABLE [dbo].[SmartMeter] ADD  CONSTRAINT [DF_SmartMeter_Status]  DEFAULT ((1)) FOR [Status]
GO
ALTER TABLE [dbo].[SmartMeter] ADD  CONSTRAINT [DF_SmartMeter_CreatedAt]  DEFAULT (sysutcdatetime()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[SmartMeterLog] ADD  CONSTRAINT [DF_SmartMeterLog_Source]  DEFAULT ('AUTO') FOR [Source]
GO
ALTER TABLE [dbo].[SmartMeterLog] ADD  CONSTRAINT [DF_SmartMeterLog_CreatedAt]  DEFAULT (sysutcdatetime()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[UserRole] ADD  DEFAULT (getdate()) FOR [AssignedDate]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT ((1)) FOR [Status]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Vehicle] ADD  DEFAULT (getdate()) FOR [RegisterDate]
GO
ALTER TABLE [dbo].[Vehicle] ADD  DEFAULT ((1)) FOR [Status]
GO
ALTER TABLE [dbo].[VehicleType] ADD  CONSTRAINT [DF_VehicleType_MonthlyFee]  DEFAULT ((0)) FOR [MonthlyFee]
GO
ALTER TABLE [dbo].[Apartment]  WITH CHECK ADD  CONSTRAINT [FK_Apartment_Floor] FOREIGN KEY([FloorID])
REFERENCES [dbo].[Floor] ([FloorID])
GO
ALTER TABLE [dbo].[Apartment] CHECK CONSTRAINT [FK_Apartment_Floor]
GO
ALTER TABLE [dbo].[Apartment]  WITH CHECK ADD  CONSTRAINT [FK_Apartment_Status] FOREIGN KEY([StatusID])
REFERENCES [dbo].[RoomStatus] ([StatusID])
GO
ALTER TABLE [dbo].[Apartment] CHECK CONSTRAINT [FK_Apartment_Status]
GO
ALTER TABLE [dbo].[ApartmentPriceHistory]  WITH CHECK ADD  CONSTRAINT [FK_PriceHistory_Apartment] FOREIGN KEY([ApartmentID])
REFERENCES [dbo].[Apartment] ([ApartmentID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ApartmentPriceHistory] CHECK CONSTRAINT [FK_PriceHistory_Apartment]
GO
ALTER TABLE [dbo].[Building]  WITH CHECK ADD  CONSTRAINT [FK_Building_Area] FOREIGN KEY([AreaID])
REFERENCES [dbo].[ApartmentArea] ([AreaID])
GO
ALTER TABLE [dbo].[Building] CHECK CONSTRAINT [FK_Building_Area]
GO
ALTER TABLE [dbo].[Contract]  WITH CHECK ADD  CONSTRAINT [FK_Contract_Apartment] FOREIGN KEY([ApartmentID])
REFERENCES [dbo].[Apartment] ([ApartmentID])
GO
ALTER TABLE [dbo].[Contract] CHECK CONSTRAINT [FK_Contract_Apartment]
GO
ALTER TABLE [dbo].[Contract]  WITH CHECK ADD  CONSTRAINT [FK_Contract_Resident] FOREIGN KEY([OwnerID])
REFERENCES [dbo].[Resident] ([ResidentID])
GO
ALTER TABLE [dbo].[Contract] CHECK CONSTRAINT [FK_Contract_Resident]
GO
ALTER TABLE [dbo].[Contract]  WITH CHECK ADD  CONSTRAINT [FK_Contract_Status] FOREIGN KEY([StatusID])
REFERENCES [dbo].[ContractStatus] ([StatusID])
GO
ALTER TABLE [dbo].[Contract] CHECK CONSTRAINT [FK_Contract_Status]
GO
ALTER TABLE [dbo].[ContractResident]  WITH CHECK ADD  CONSTRAINT [FK_CR_Contract] FOREIGN KEY([ContractID])
REFERENCES [dbo].[Contract] ([ContractID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ContractResident] CHECK CONSTRAINT [FK_CR_Contract]
GO
ALTER TABLE [dbo].[ContractResident]  WITH CHECK ADD  CONSTRAINT [FK_CR_Resident] FOREIGN KEY([ResidentID])
REFERENCES [dbo].[Resident] ([ResidentID])
GO
ALTER TABLE [dbo].[ContractResident] CHECK CONSTRAINT [FK_CR_Resident]
GO
ALTER TABLE [dbo].[Employee]  WITH CHECK ADD  CONSTRAINT [FK_Employee_User] FOREIGN KEY([UserID])
REFERENCES [dbo].[Users] ([UserID])
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[Employee] CHECK CONSTRAINT [FK_Employee_User]
GO
ALTER TABLE [dbo].[Feedback]  WITH CHECK ADD  CONSTRAINT [FK_Feedback_Resident] FOREIGN KEY([ResidentID])
REFERENCES [dbo].[Resident] ([ResidentID])
GO
ALTER TABLE [dbo].[Feedback] CHECK CONSTRAINT [FK_Feedback_Resident]
GO
ALTER TABLE [dbo].[Floor]  WITH CHECK ADD  CONSTRAINT [FK_Floor_Building] FOREIGN KEY([BuildingID])
REFERENCES [dbo].[Building] ([BuildingID])
GO
ALTER TABLE [dbo].[Floor] CHECK CONSTRAINT [FK_Floor_Building]
GO
ALTER TABLE [dbo].[Invoice]  WITH CHECK ADD  CONSTRAINT [FK_Invoice_Contract] FOREIGN KEY([ContractID])
REFERENCES [dbo].[Contract] ([ContractID])
GO
ALTER TABLE [dbo].[Invoice] CHECK CONSTRAINT [FK_Invoice_Contract]
GO
ALTER TABLE [dbo].[Invoice]  WITH CHECK ADD  CONSTRAINT [FK_Invoice_Status] FOREIGN KEY([StatusID])
REFERENCES [dbo].[InvoiceStatus] ([StatusID])
GO
ALTER TABLE [dbo].[Invoice] CHECK CONSTRAINT [FK_Invoice_Status]
GO
ALTER TABLE [dbo].[InvoiceDetail]  WITH CHECK ADD  CONSTRAINT [FK_InvoiceDetail_Invoice] FOREIGN KEY([InvoiceID])
REFERENCES [dbo].[Invoice] ([InvoiceID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[InvoiceDetail] CHECK CONSTRAINT [FK_InvoiceDetail_Invoice]
GO
ALTER TABLE [dbo].[MaintenanceRequest]  WITH CHECK ADD  CONSTRAINT [FK_Maintenance_Apartment] FOREIGN KEY([ApartmentID])
REFERENCES [dbo].[Apartment] ([ApartmentID])
GO
ALTER TABLE [dbo].[MaintenanceRequest] CHECK CONSTRAINT [FK_Maintenance_Apartment]
GO
ALTER TABLE [dbo].[MaintenanceRequest]  WITH CHECK ADD  CONSTRAINT [FK_Maintenance_Employee] FOREIGN KEY([AssignedEmployeeID])
REFERENCES [dbo].[Employee] ([EmployeeID])
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[MaintenanceRequest] CHECK CONSTRAINT [FK_Maintenance_Employee]
GO
ALTER TABLE [dbo].[MaintenanceRequest]  WITH CHECK ADD  CONSTRAINT [FK_Maintenance_Resident] FOREIGN KEY([ResidentID])
REFERENCES [dbo].[Resident] ([ResidentID])
GO
ALTER TABLE [dbo].[MaintenanceRequest] CHECK CONSTRAINT [FK_Maintenance_Resident]
GO
ALTER TABLE [dbo].[MaintenanceRequest]  WITH CHECK ADD  CONSTRAINT [FK_Maintenance_Status] FOREIGN KEY([StatusID])
REFERENCES [dbo].[MaintenanceStatus] ([StatusID])
GO
ALTER TABLE [dbo].[MaintenanceRequest] CHECK CONSTRAINT [FK_Maintenance_Status]
GO
ALTER TABLE [dbo].[MeterReading]  WITH CHECK ADD  CONSTRAINT [FK_MR_Apartment] FOREIGN KEY([ApartmentID])
REFERENCES [dbo].[Apartment] ([ApartmentID])
GO
ALTER TABLE [dbo].[MeterReading] CHECK CONSTRAINT [FK_MR_Apartment]
GO
ALTER TABLE [dbo].[MeterReading]  WITH CHECK ADD  CONSTRAINT [FK_MR_Employee] FOREIGN KEY([EmployeeID])
REFERENCES [dbo].[Employee] ([EmployeeID])
GO
ALTER TABLE [dbo].[MeterReading] CHECK CONSTRAINT [FK_MR_Employee]
GO
ALTER TABLE [dbo].[MeterReading]  WITH CHECK ADD  CONSTRAINT [FK_MR_Utility] FOREIGN KEY([UtilityTypeID])
REFERENCES [dbo].[UtilityType] ([UtilityTypeID])
GO
ALTER TABLE [dbo].[MeterReading] CHECK CONSTRAINT [FK_MR_Utility]
GO
ALTER TABLE [dbo].[Notification]  WITH CHECK ADD  CONSTRAINT [FK_Notification_Employee] FOREIGN KEY([SenderID])
REFERENCES [dbo].[Employee] ([EmployeeID])
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[Notification] CHECK CONSTRAINT [FK_Notification_Employee]
GO
ALTER TABLE [dbo].[NotificationReceiver]  WITH CHECK ADD  CONSTRAINT [FK_NR_Notification] FOREIGN KEY([NotificationID])
REFERENCES [dbo].[Notification] ([NotificationID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[NotificationReceiver] CHECK CONSTRAINT [FK_NR_Notification]
GO
ALTER TABLE [dbo].[NotificationReceiver]  WITH CHECK ADD  CONSTRAINT [FK_NR_User] FOREIGN KEY([UserID])
REFERENCES [dbo].[Users] ([UserID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[NotificationReceiver] CHECK CONSTRAINT [FK_NR_User]
GO
ALTER TABLE [dbo].[ParkingCard]  WITH CHECK ADD  CONSTRAINT [FK_ParkingCard_Slot] FOREIGN KEY([SlotID])
REFERENCES [dbo].[ParkingSlot] ([SlotID])
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[ParkingCard] CHECK CONSTRAINT [FK_ParkingCard_Slot]
GO
ALTER TABLE [dbo].[ParkingCard]  WITH CHECK ADD  CONSTRAINT [FK_ParkingCard_Vehicle] FOREIGN KEY([VehicleID])
REFERENCES [dbo].[Vehicle] ([VehicleID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ParkingCard] CHECK CONSTRAINT [FK_ParkingCard_Vehicle]
GO
ALTER TABLE [dbo].[ParkingSlot]  WITH CHECK ADD  CONSTRAINT [FK_Slot_Area] FOREIGN KEY([AreaID])
REFERENCES [dbo].[ApartmentArea] ([AreaID])
GO
ALTER TABLE [dbo].[ParkingSlot] CHECK CONSTRAINT [FK_Slot_Area]
GO
ALTER TABLE [dbo].[ParkingSlot]  WITH CHECK ADD  CONSTRAINT [FK_Slot_VehicleType] FOREIGN KEY([VehicleTypeID])
REFERENCES [dbo].[VehicleType] ([VehicleTypeID])
GO
ALTER TABLE [dbo].[ParkingSlot] CHECK CONSTRAINT [FK_Slot_VehicleType]
GO
ALTER TABLE [dbo].[Payment]  WITH CHECK ADD  CONSTRAINT [FK_Payment_Invoice] FOREIGN KEY([InvoiceID])
REFERENCES [dbo].[Invoice] ([InvoiceID])
GO
ALTER TABLE [dbo].[Payment] CHECK CONSTRAINT [FK_Payment_Invoice]
GO
ALTER TABLE [dbo].[Payment]  WITH CHECK ADD  CONSTRAINT [FK_Payment_Method] FOREIGN KEY([MethodID])
REFERENCES [dbo].[PaymentMethod] ([MethodID])
GO
ALTER TABLE [dbo].[Payment] CHECK CONSTRAINT [FK_Payment_Method]
GO
ALTER TABLE [dbo].[Payment]  WITH CHECK ADD  CONSTRAINT [FK_Payment_Status] FOREIGN KEY([StatusID])
REFERENCES [dbo].[PaymentStatus] ([StatusID])
GO
ALTER TABLE [dbo].[Payment] CHECK CONSTRAINT [FK_Payment_Status]
GO
ALTER TABLE [dbo].[Permission]  WITH CHECK ADD  CONSTRAINT [FK_Permission_Module] FOREIGN KEY([ModuleID])
REFERENCES [dbo].[Module] ([ModuleID])
GO
ALTER TABLE [dbo].[Permission] CHECK CONSTRAINT [FK_Permission_Module]
GO
ALTER TABLE [dbo].[ResidentIdentity]  WITH CHECK ADD  CONSTRAINT [FK_Identity_Resident] FOREIGN KEY([ResidentID])
REFERENCES [dbo].[Resident] ([ResidentID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ResidentIdentity] CHECK CONSTRAINT [FK_Identity_Resident]
GO
ALTER TABLE [dbo].[RolePermission]  WITH CHECK ADD  CONSTRAINT [FK_RolePermission_Permission] FOREIGN KEY([PermissionID])
REFERENCES [dbo].[Permission] ([PermissionID])
GO
ALTER TABLE [dbo].[RolePermission] CHECK CONSTRAINT [FK_RolePermission_Permission]
GO
ALTER TABLE [dbo].[RolePermission]  WITH CHECK ADD  CONSTRAINT [FK_RolePermission_Role] FOREIGN KEY([RoleID])
REFERENCES [dbo].[Role] ([RoleID])
GO
ALTER TABLE [dbo].[RolePermission] CHECK CONSTRAINT [FK_RolePermission_Role]
GO
ALTER TABLE [dbo].[Service]  WITH CHECK ADD  CONSTRAINT [FK_Service_Category] FOREIGN KEY([CategoryID])
REFERENCES [dbo].[ServiceCategory] ([CategoryID])
GO
ALTER TABLE [dbo].[Service] CHECK CONSTRAINT [FK_Service_Category]
GO
ALTER TABLE [dbo].[ServiceRegistration]  WITH CHECK ADD  CONSTRAINT [FK_SR_Contract] FOREIGN KEY([ContractID])
REFERENCES [dbo].[Contract] ([ContractID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ServiceRegistration] CHECK CONSTRAINT [FK_SR_Contract]
GO
ALTER TABLE [dbo].[ServiceRegistration]  WITH CHECK ADD  CONSTRAINT [FK_SR_Service] FOREIGN KEY([ServiceID])
REFERENCES [dbo].[Service] ([ServiceID])
GO
ALTER TABLE [dbo].[ServiceRegistration] CHECK CONSTRAINT [FK_SR_Service]
GO
ALTER TABLE [dbo].[SmartMeter]  WITH CHECK ADD  CONSTRAINT [FK_SmartMeter_Apartment] FOREIGN KEY([ApartmentID])
REFERENCES [dbo].[Apartment] ([ApartmentID])
GO
ALTER TABLE [dbo].[SmartMeter] CHECK CONSTRAINT [FK_SmartMeter_Apartment]
GO
ALTER TABLE [dbo].[SmartMeter]  WITH CHECK ADD  CONSTRAINT [FK_SmartMeter_UtilityType] FOREIGN KEY([UtilityTypeID])
REFERENCES [dbo].[UtilityType] ([UtilityTypeID])
GO
ALTER TABLE [dbo].[SmartMeter] CHECK CONSTRAINT [FK_SmartMeter_UtilityType]
GO
ALTER TABLE [dbo].[SmartMeterLog]  WITH CHECK ADD  CONSTRAINT [FK_SmartMeterLog_Meter] FOREIGN KEY([MeterID])
REFERENCES [dbo].[SmartMeter] ([MeterID])
GO
ALTER TABLE [dbo].[SmartMeterLog] CHECK CONSTRAINT [FK_SmartMeterLog_Meter]
GO
ALTER TABLE [dbo].[UserRole]  WITH CHECK ADD  CONSTRAINT [FK_UserRole_AssignedBy] FOREIGN KEY([AssignedBy])
REFERENCES [dbo].[Users] ([UserID])
GO
ALTER TABLE [dbo].[UserRole] CHECK CONSTRAINT [FK_UserRole_AssignedBy]
GO
ALTER TABLE [dbo].[UserRole]  WITH CHECK ADD  CONSTRAINT [FK_UserRole_Role] FOREIGN KEY([RoleID])
REFERENCES [dbo].[Role] ([RoleID])
GO
ALTER TABLE [dbo].[UserRole] CHECK CONSTRAINT [FK_UserRole_Role]
GO
ALTER TABLE [dbo].[UserRole]  WITH CHECK ADD  CONSTRAINT [FK_UserRole_User] FOREIGN KEY([UserID])
REFERENCES [dbo].[Users] ([UserID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[UserRole] CHECK CONSTRAINT [FK_UserRole_User]
GO
ALTER TABLE [dbo].[UtilityPriceTier]  WITH CHECK ADD  CONSTRAINT [FK_UPT_Utility] FOREIGN KEY([UtilityTypeID])
REFERENCES [dbo].[UtilityType] ([UtilityTypeID])
GO
ALTER TABLE [dbo].[UtilityPriceTier] CHECK CONSTRAINT [FK_UPT_Utility]
GO
ALTER TABLE [dbo].[Vehicle]  WITH CHECK ADD  CONSTRAINT [FK_Vehicle_Resident] FOREIGN KEY([ResidentID])
REFERENCES [dbo].[Resident] ([ResidentID])
GO
ALTER TABLE [dbo].[Vehicle] CHECK CONSTRAINT [FK_Vehicle_Resident]
GO
ALTER TABLE [dbo].[Vehicle]  WITH CHECK ADD  CONSTRAINT [FK_Vehicle_Type] FOREIGN KEY([VehicleTypeID])
REFERENCES [dbo].[VehicleType] ([VehicleTypeID])
GO
ALTER TABLE [dbo].[Vehicle] CHECK CONSTRAINT [FK_Vehicle_Type]
GO
ALTER TABLE [dbo].[Apartment]  WITH CHECK ADD  CONSTRAINT [CHK_Apartment_Area] CHECK  (([Area]>(0)))
GO
ALTER TABLE [dbo].[Apartment] CHECK CONSTRAINT [CHK_Apartment_Area]
GO
ALTER TABLE [dbo].[ApartmentPriceHistory]  WITH CHECK ADD  CONSTRAINT [CHK_PriceHistory_Price] CHECK  (([BaseRentalPrice]>=(0)))
GO
ALTER TABLE [dbo].[ApartmentPriceHistory] CHECK CONSTRAINT [CHK_PriceHistory_Price]
GO
ALTER TABLE [dbo].[AuditLog]  WITH CHECK ADD  CONSTRAINT [CHK_Audit_Action] CHECK  (([Action]='DELETE' OR [Action]='UPDATE' OR [Action]='INSERT'))
GO
ALTER TABLE [dbo].[AuditLog] CHECK CONSTRAINT [CHK_Audit_Action]
GO
ALTER TABLE [dbo].[Building]  WITH CHECK ADD  CONSTRAINT [CHK_Building_Floors] CHECK  (([NumberOfFloors]>(0)))
GO
ALTER TABLE [dbo].[Building] CHECK CONSTRAINT [CHK_Building_Floors]
GO
ALTER TABLE [dbo].[Contract]  WITH CHECK ADD  CONSTRAINT [CHK_Contract_Deposit] CHECK  (([Deposit]>=(0)))
GO
ALTER TABLE [dbo].[Contract] CHECK CONSTRAINT [CHK_Contract_Deposit]
GO
ALTER TABLE [dbo].[Contract]  WITH CHECK ADD  CONSTRAINT [CHK_Contract_Duration] CHECK  (([EndDate]>[StartDate]))
GO
ALTER TABLE [dbo].[Contract] CHECK CONSTRAINT [CHK_Contract_Duration]
GO
ALTER TABLE [dbo].[Contract]  WITH CHECK ADD  CONSTRAINT [CHK_Contract_Rent] CHECK  (([Rent]>(0)))
GO
ALTER TABLE [dbo].[Contract] CHECK CONSTRAINT [CHK_Contract_Rent]
GO
ALTER TABLE [dbo].[ContractResident]  WITH CHECK ADD  CONSTRAINT [CHK_ContractResident_Dates] CHECK  (([MoveOutDate]>=[MoveInDate]))
GO
ALTER TABLE [dbo].[ContractResident] CHECK CONSTRAINT [CHK_ContractResident_Dates]
GO
ALTER TABLE [dbo].[Employee]  WITH CHECK ADD  CONSTRAINT [CHK_Employee_Dates] CHECK  (([BirthDate]<[HireDate]))
GO
ALTER TABLE [dbo].[Employee] CHECK CONSTRAINT [CHK_Employee_Dates]
GO
ALTER TABLE [dbo].[Feedback]  WITH CHECK ADD  CONSTRAINT [CHK_Feedback_Rating] CHECK  (([Rating]>=(1) AND [Rating]<=(5)))
GO
ALTER TABLE [dbo].[Feedback] CHECK CONSTRAINT [CHK_Feedback_Rating]
GO
ALTER TABLE [dbo].[Invoice]  WITH CHECK ADD  CONSTRAINT [CHK_Invoice_DueDate] CHECK  (([DueDate]>=[InvoiceDate]))
GO
ALTER TABLE [dbo].[Invoice] CHECK CONSTRAINT [CHK_Invoice_DueDate]
GO
ALTER TABLE [dbo].[Invoice]  WITH CHECK ADD  CONSTRAINT [CHK_Invoice_Month] CHECK  (([InvoiceMonth]>=(1) AND [InvoiceMonth]<=(12)))
GO
ALTER TABLE [dbo].[Invoice] CHECK CONSTRAINT [CHK_Invoice_Month]
GO
ALTER TABLE [dbo].[Invoice]  WITH CHECK ADD  CONSTRAINT [CHK_Invoice_Total] CHECK  (([TotalAmount]>=(0)))
GO
ALTER TABLE [dbo].[Invoice] CHECK CONSTRAINT [CHK_Invoice_Total]
GO
ALTER TABLE [dbo].[Invoice]  WITH CHECK ADD  CONSTRAINT [CHK_Invoice_Year] CHECK  (([InvoiceYear]>=(2000)))
GO
ALTER TABLE [dbo].[Invoice] CHECK CONSTRAINT [CHK_Invoice_Year]
GO
ALTER TABLE [dbo].[InvoiceDetail]  WITH CHECK ADD  CONSTRAINT [CHK_InvoiceDetail_Amount] CHECK  (([Amount]>=(0)))
GO
ALTER TABLE [dbo].[InvoiceDetail] CHECK CONSTRAINT [CHK_InvoiceDetail_Amount]
GO
ALTER TABLE [dbo].[InvoiceDetail]  WITH CHECK ADD  CONSTRAINT [CHK_InvoiceDetail_Price] CHECK  (([UnitPrice]>=(0)))
GO
ALTER TABLE [dbo].[InvoiceDetail] CHECK CONSTRAINT [CHK_InvoiceDetail_Price]
GO
ALTER TABLE [dbo].[InvoiceDetail]  WITH CHECK ADD  CONSTRAINT [CHK_InvoiceDetail_Qty] CHECK  (([Quantity]>(0)))
GO
ALTER TABLE [dbo].[InvoiceDetail] CHECK CONSTRAINT [CHK_InvoiceDetail_Qty]
GO
ALTER TABLE [dbo].[InvoiceDetail]  WITH CHECK ADD  CONSTRAINT [CHK_InvoiceDetail_Type] CHECK  (([ChargeType]='OTHER' OR [ChargeType]='PARKING' OR [ChargeType]='SERVICE' OR [ChargeType]='WATER' OR [ChargeType]='ELECTRIC' OR [ChargeType]='ROOM'))
GO
ALTER TABLE [dbo].[InvoiceDetail] CHECK CONSTRAINT [CHK_InvoiceDetail_Type]
GO
ALTER TABLE [dbo].[MeterReading]  WITH CHECK ADD  CONSTRAINT [CHK_MR_Index] CHECK  (([NewIndex]>=[OldIndex]))
GO
ALTER TABLE [dbo].[MeterReading] CHECK CONSTRAINT [CHK_MR_Index]
GO
ALTER TABLE [dbo].[MeterReading]  WITH CHECK ADD  CONSTRAINT [CHK_MR_Month] CHECK  (([ReadingMonth]>=(1) AND [ReadingMonth]<=(12)))
GO
ALTER TABLE [dbo].[MeterReading] CHECK CONSTRAINT [CHK_MR_Month]
GO
ALTER TABLE [dbo].[MeterReading]  WITH CHECK ADD  CONSTRAINT [CHK_MR_New] CHECK  (([NewIndex]>=(0)))
GO
ALTER TABLE [dbo].[MeterReading] CHECK CONSTRAINT [CHK_MR_New]
GO
ALTER TABLE [dbo].[MeterReading]  WITH CHECK ADD  CONSTRAINT [CHK_MR_Old] CHECK  (([OldIndex]>=(0)))
GO
ALTER TABLE [dbo].[MeterReading] CHECK CONSTRAINT [CHK_MR_Old]
GO
ALTER TABLE [dbo].[MeterReading]  WITH CHECK ADD  CONSTRAINT [CHK_MR_Year] CHECK  (([ReadingYear]>=(2000)))
GO
ALTER TABLE [dbo].[MeterReading] CHECK CONSTRAINT [CHK_MR_Year]
GO
ALTER TABLE [dbo].[Notification]  WITH CHECK ADD  CONSTRAINT [CHK_Notification_Scope] CHECK  (([TargetScope]='USER' OR [TargetScope]='BUILDING' OR [TargetScope]='ALL'))
GO
ALTER TABLE [dbo].[Notification] CHECK CONSTRAINT [CHK_Notification_Scope]
GO
ALTER TABLE [dbo].[ParkingCard]  WITH CHECK ADD  CONSTRAINT [CHK_ParkingCard_Dates] CHECK  (([ExpiredDate]>=[IssueDate]))
GO
ALTER TABLE [dbo].[ParkingCard] CHECK CONSTRAINT [CHK_ParkingCard_Dates]
GO
ALTER TABLE [dbo].[Payment]  WITH CHECK ADD  CONSTRAINT [CHK_Payment_Amount] CHECK  (([Amount]>(0)))
GO
ALTER TABLE [dbo].[Payment] CHECK CONSTRAINT [CHK_Payment_Amount]
GO
ALTER TABLE [dbo].[ResidentIdentity]  WITH CHECK ADD  CONSTRAINT [CHK_Identity_Dates] CHECK  (([ExpiredDate]>[IssueDate]))
GO
ALTER TABLE [dbo].[ResidentIdentity] CHECK CONSTRAINT [CHK_Identity_Dates]
GO
ALTER TABLE [dbo].[Service]  WITH CHECK ADD  CONSTRAINT [CHK_Service_Price] CHECK  (([Price]>=(0)))
GO
ALTER TABLE [dbo].[Service] CHECK CONSTRAINT [CHK_Service_Price]
GO
ALTER TABLE [dbo].[ServiceRegistration]  WITH CHECK ADD  CONSTRAINT [CHK_SR_Dates] CHECK  (([EndDate]>=[RegisterDate]))
GO
ALTER TABLE [dbo].[ServiceRegistration] CHECK CONSTRAINT [CHK_SR_Dates]
GO
ALTER TABLE [dbo].[ServiceRegistration]  WITH CHECK ADD  CONSTRAINT [CHK_SR_Quantity] CHECK  (([Quantity]>(0)))
GO
ALTER TABLE [dbo].[ServiceRegistration] CHECK CONSTRAINT [CHK_SR_Quantity]
GO
ALTER TABLE [dbo].[SmartMeter]  WITH CHECK ADD  CONSTRAINT [CHK_SmartMeter_CurrentIndex] CHECK  (([CurrentIndex]>=(0)))
GO
ALTER TABLE [dbo].[SmartMeter] CHECK CONSTRAINT [CHK_SmartMeter_CurrentIndex]
GO
ALTER TABLE [dbo].[SmartMeterLog]  WITH CHECK ADD  CONSTRAINT [CHK_SmartMeterLog_Delta] CHECK  (([DeltaValue]>(0)))
GO
ALTER TABLE [dbo].[SmartMeterLog] CHECK CONSTRAINT [CHK_SmartMeterLog_Delta]
GO
ALTER TABLE [dbo].[SmartMeterLog]  WITH CHECK ADD  CONSTRAINT [CHK_SmartMeterLog_Index] CHECK  (([NewIndex]>=[OldIndex]))
GO
ALTER TABLE [dbo].[SmartMeterLog] CHECK CONSTRAINT [CHK_SmartMeterLog_Index]
GO
ALTER TABLE [dbo].[SmartMeterLog]  WITH CHECK ADD  CONSTRAINT [CHK_SmartMeterLog_Source] CHECK  (([Source]='DEMO' OR [Source]='AUTO'))
GO
ALTER TABLE [dbo].[SmartMeterLog] CHECK CONSTRAINT [CHK_SmartMeterLog_Source]
GO
ALTER TABLE [dbo].[UtilityPriceTier]  WITH CHECK ADD  CONSTRAINT [CHK_UPT_From] CHECK  (([FromValue]>=(0)))
GO
ALTER TABLE [dbo].[UtilityPriceTier] CHECK CONSTRAINT [CHK_UPT_From]
GO
ALTER TABLE [dbo].[UtilityPriceTier]  WITH CHECK ADD  CONSTRAINT [CHK_UPT_Price] CHECK  (([UnitPrice]>=(0)))
GO
ALTER TABLE [dbo].[UtilityPriceTier] CHECK CONSTRAINT [CHK_UPT_Price]
GO
ALTER TABLE [dbo].[UtilityPriceTier]  WITH CHECK ADD  CONSTRAINT [CHK_UPT_Values] CHECK  (([ToValue]>[FromValue]))
GO
ALTER TABLE [dbo].[UtilityPriceTier] CHECK CONSTRAINT [CHK_UPT_Values]
GO
USE [master]
GO
